<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>193759194536-64pbo5rte7980j8el23mn7ncmgmmn61j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBL2ho9Db3qAy7BuBgILiMTxxGjZwpQrRA</string>
	<key>GCM_SENDER_ID</key>
	<string>193759194536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoyospeak.yoyo</string>
	<key>PROJECT_ID</key>
	<string>yoyo-app-918b9</string>
	<key>STORAGE_BUCKET</key>
	<string>yoyo-app-918b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193759194536:ios:ec4261022731315e64419d</string>
</dict>
</plist>